{% extends '@FOSMessage/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2>{% trans from 'FOSMessageBundle' %}Deleted{% endtrans %}</h2>
        <div class = "container message-container">
            {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
        <div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#deleted-items-link";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}