{% extends '@FOSMessage/layout.html.twig' %}

{% block body %}
    <div class="container">

        <h2>{% trans from 'FOSMessageBundle' %}Compose Message{% endtrans %}</h2>

        <div class="container message-container">
            <form action="{{ url('fos_message_thread_new') }}" method="post">
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary btn-float-right" formnovalidate)>
                    Send
                </button>

                <a class="btn btn-danger btn-float-right-margin" href="{{ path('itempost_index') }}">
                    Cancel
                </a>

            </form>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#compose-link";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}