{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="page-header-text">Chengjiu Hong
                <br><small>Full Stack</small>
            </h1>
        </div> <!-- end "page-header" -->
    </div><!-- end "container" -->
    <div class="container col-xs-offset-2 col-xs-3" style="padding-top: 20px">
        <img src="{{ asset('images/cj.jpg')}}" height="419px" width="310px">
    </div>
    <div class="container col-xs-4">
        <h2 class="text-center" style="font-size: 42px">About Me</h2>
        <p style="font-size: 20px">
            Hello there, my name is Chengjiu Hong.
            I am very excited about this project and I like coding.
            Welcome to our website.

        </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var targetLink= {{ developerLink|json_encode|raw }};
            $(targetLink).parent().addClass('active');
            $(targetLink).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}
