{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="page-header-text">Mayara Dusheyko
                <br><small>Backend Developer</small>
            </h1>
        </div> <!-- end "page-header" -->
    </div><!-- end "container" -->
    <div class="container col-xs-offset-2 col-xs-3" style="padding-top: 20px">
        <img src="{{ asset('images/may.jpg')}}" height="auto" width="281px">
    </div>
    <div class="container col-xs-4">
        <h2 class="text-center" style="font-size: 42px">About Me</h2>
        <p style="font-size: 20px">
            I am a senior Computer Science student at San Francisco State University graduating in May.
            I chose to study Computer Science because I would love to help the advancement of medical technology and be
            able to make a difference in people’s lives.<br><br>
            Throughout my years in school I have developed a passion for programming and love the idea of learning and
            building something new. Some of my hobbies include traveling, photography, image editing, trying new types
            of food and playing with my cat Pepper.
        </p><br><br>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var targetLink= {{ developerLink|json_encode|raw }};
            $(targetLink).parent().addClass('active');
            $(targetLink).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}
